.container {
  display: grid;
  grid-template-rows: 60% 1fr 1fr 25%;
  justify-items: center;
  align-items: end;
  row-gap: 2em;
  margin: 5em 2.5em 0;
  height: auto;
  max-width: 30em;
}

.logo {
  width: 90%;
  align-self: center;
}
