.container {
  display: grid;
  grid-template-rows: auto auto auto 5em;
  justify-items: center;
  align-items: end;
  row-gap: 2em;
  padding: 6em 2em 3em;
}

.logo {
  width: 90%;
  align-self: center;
}
