.container {
  display: grid;
  grid-template-rows: 50% 1fr 1fr 25%;
  justify-items: center;
  align-items: end;
  row-gap: 2em;
  margin: 0 2.5em;
  height: 100%;
}

.logo {
  width: 90%;
  padding-bottom: 3em;
}
