.container {
  display: grid;
  margin: 2em 1em 4em;
  padding: 0 1.5em 2em;
  background-color: var(--secondary-background-color);
  border-radius: 1em;
}

.main__form {
  display: grid;
  grid-template-rows: 7em repeat(6, auto) 6em;
  align-items: flex-end;
  row-gap: 1.5em;
}

.main__form_labeledInput {
  display: grid;
  gap: 0.5em;
}

.main__form_label {
  padding-left: 1em;
  color: var(--button-text-color);
  font-family: var(--font-family);
  font-size: 0.7em;
}

.main__form_input {
  color: transparent;
  padding-left: 0.5em;
}

::-webkit-file-upload-button {
  padding: 0.8em;
  border-radius: 3em;
  border: solid 0.02em var(--primary-text-color);
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.header__logo {
  max-height: 5em;
  position: relative;
  justify-self: end;
}

.footer {
  position: fixed;
  display: grid;
  justify-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
