.header {
  margin-left: 1em;
}

.main {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2em;
  margin-top: 2em;
}

.main__profile {
  justify-self: center;
  width: 100%;
  padding: 0 1em;
}

.main__decisionBoard {
  margin-right: 1em;
}
