.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1em;
}

.header {
  margin-left: 1em;
}

.main {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1em;
  padding-bottom: 1em;
}

.main__profile {
  margin: 0 auto;
  width: calc(100% - 4em);
}

.main__decisionBoard {
  margin-right: 2em;
}
