.container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 2em;
  padding: 1.5em;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.header__logo {
  width: 90%;
  place-self: center;
}

.form {
  background-color: var(--secondary-background-color);
  display: grid;
  grid-template-rows: auto auto 7em;
  align-items: center;
  row-gap: 1.2em;
  border-radius: 0.5em;
  padding: 2em 1em 0;
}
