@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto:wght@400;500;700&family=Stint+Ultra+Condensed&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: "Roboto", sans-serif;
  --button-font: "Do Hyeon", sans-serif;

  /* COLORS */
  --primary-background-color: #fff;
  --secondary-background-color: #f2f0ec;
  --primary-color: #fabd22;
  --secondary-color: #04d4ce;
  --primary-text-color: #707070;
  --button-text-color: #324658;
  --primary-button-active-color: #2fc1bd;
  --secondary-button-active-color: #e0aa21;
  --input-text-color: #000;
  --shadow-color: #d1d1d1;
}
