.button {
  border: none;
  box-shadow: 0 0.15em 0.35em var(--shadow-color);
  color: var(--button-text-color);
  font-family: var(--button-font);
  font-size: 1.25em;
}

.button--primary {
  background-color: var(--secondary-color);
  padding: 1em 4em;
  border-radius: 3em;
  width: 100%;
  max-height: 3.2em;
}

.button--secondary {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 1em 4em;
  border-radius: 3em;
  width: 100%;
  max-height: 3.2em;
}

.button--round {
  background-color: var(--secondary-color);
  color: var(--button-text-color);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  place-content: center;
  place-items: center;
  position: absolute;
  top: 1em;
  left: 1em;
}
