.container {
  display: grid;
  grid-template: auto 4em / 1fr 1fr;
  background-color: var(--secondary-background-color);
  width: 100%;
  font-family: var(--font-family);
  color: var(--button-text-color);
  align-items: center;
  border-radius: 2em;
  box-shadow: 0 0.15em 0.35em var(--shadow-color);
}

.profileImage {
  grid-column: span 2;
  width: 100%;
  height: 34em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  object-fit: cover;
}

.profileName {
  font-size: 1.9em;
  justify-self: center;
}

.profileInfo {
  justify-self: start;
}
