.link {
  border: none;
  box-shadow: 0 0.15em 0.35em var(--shadow-color);
  color: var(--button-text-color);
  font-family: var(--button-font);
  font-size: 1.25em;
  text-decoration: none;
  transition: ease-in-out background-color 170ms;
  text-align: center;
}

.link--primary {
  background-color: var(--secondary-color);
  padding: 1em 4em;
  border-radius: 3em;
  width: 100%;
}

.link--primary:active {
  background-color: var(--primary-button-active-color);
}

.link--secondary {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 1em 4em;
  border-radius: 3em;
  width: 100%;
}

.link--secondary:active {
  background-color: var(--secondary-button-active-color);
}

.link--round {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  place-content: center;
  place-items: center;
}

.link--round:active {
  background-color: var(--secondary-color);
}
